<div class="container">
 <footer class="footer">
  <small>
    Copyright &copy; <a href="https://www.udemy.com">The Compelete Ruby on rails developer</a>
    by <a href="https://www.mashrurhossain.com">Mashrur Hossain</a>
  </small>
    <nav>
     <ul>
        <li><%= link_to "About", pages_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>